.about{
  background-color: var(--special-effect-color);
  margin-inline: 0;
  color: var(--special-text-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: var(--sp-xxl);
  padding: var(--sp-xxl) 0;
}
.about-left{
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.about-img{
  max-width: 350px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  overflow: hidden;
}
.about-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-right{
  max-width: 450px;
  color: var(--special-text-color);
  display: grid;
  align-content: center;
  padding: var(--sp-xxl);
}